.todoList li {
	list-style-type: none;
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 5px 0;
	background: #e6e6e6;
	border-radius: 5px;
}

.todo-checkbox {
	margin-right: 10px;
	cursor: pointer;
}

.task-text {
	flex: 1;
}

.todoList li.done .task-text { 
	text-decoration: line-through;
	color: #999;
}