* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  padding: 1em;
}

.wrapper div {
  background: #eee;
  border: 1px solid #666;
  padding: 1em;
  text-align: center;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 100%;
          flex: 0 100%;
  height: 100px;
  margin-bottom: 2%; /* (100-32*3)/2 */
}

/*
-- ZADATAK --

na rezoluciji vecoj od 1200px
imamo 5 stupaca

vise od 1024
imamo 4 stupca

vise od 768
imamo 3 stupca

vise od 480
imamo 2 stupca

ispod 320
imamo 1 stupac
*/