body {
  background-color: #444444;
  font-size: 2em;
}
.flex-container {
  min-height: 800px;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-item {
  border: 1px solid #464646;
  background-color: bisque;
}
